version: '3.8'

services:
  frontend:
    container_name: nextjs-game-app
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_API_URL=https://fe-test-api.midassoft.dev/
    networks:
      - app-network

networks:
  app-network:
    driver: bridge